$body-bg: #a753f5ce;
$main-color: #32e7e7;
$txt-color: rgb(255, 255, 255);

$white: rgb(235, 226, 226);
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
